

<div class="row">
  <div class="col-md-4">

    <%= simple_form_for(@group, html: {class: "well"}) do |f| %>
      <fieldset>
        <!-- <legend></legend> -->
        <%#= render 'shared/error_messages' %>
          <div class="field">
              <%= f.input :title %>
          </div>
          <div class="field">
              <%= f.input :description %>
          </div>
      
          <%= f.hidden_field :creator, :value => current_user.profile.profile_name %> 
          <div class="actions">
          <%= f.submit "Save changes", class: "btn btn-primary" %>
          </div>

    </fieldset>
    <% end %>


  </div>
</div>
