<!-- IF THE USER HAS ADDED FRIENDS - SHOW A LIST OF THEM -->
<% if current_user.friends.count > 0 %>
<div class="container-fluid"> 
  <div class="row session-full"> 
    <h4>Friends</h4>
    <ul>
    <% @user.friends.each do |friend| %>
          <div class="col-md-3 session-full">

          <% if friend.profile.profile_image? %>
          <%#= link_to status.user.profile.profile_name, profile_path(status.user) %>
            <%#= link_to image_tag(@profile.profile_image.thumb.url, class: "img-responsive"), @profile.profile_image.large.url %> 
            <%= link_to image_tag(friend.profile.profile_image.thumb.url, class: "img-responsive"), profile_path(friend) %> 

          <% else %>
            <%= link_to image_tag("profiles/user-thumb.png", class: "img-responsive"), profile_path(friend) %> 
          <% end %>
            
              <p><%= friend.profile.profile_name %> </p>
              <p><%= friend.profile.primary_discipline %></p>
              <p><%= friend.profile.city %></p>
              <%= friend.profile_name %> 
              <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: friend.id), method: 'post', :class => "btn btn-primary"%>

              
              

              <% if current_user == @user %>
              <%#= link_to "Remove", friendship_path(:id => friend), :method => :delete %>
              <% end %>
            
        </div>

        <% end %>
    </ul>
  </div>
</div>
<% end %>





