<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @project.bpm %>
</p>

<p>
  <strong>Key:</strong>
  <%= @project.key %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @project.creator %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @project.genre %>
</p>

<p>
  <strong>Public:</strong>
  <%= @project.public %>
</p>

<p>
  <strong>Editable:</strong>
  <%= @project.editable %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project.created_at %>
</p>

<p>
  <strong>Published:</strong>
  <%= @project.published %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @project.published_at %>
</p>

<p>
  <strong>Preview url:</strong>
  <%= raw @project.preview_url %>

  <!-- https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/126101982&amp -->

 
 <!--  <audio controls>
     <source src="horse.ogg" type="audio/ogg"> -->
   <!--  <source src="#{@project.preview_url}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio> -->

  <!-- <audio src="#{@project.preview_url}"></audio> -->
  
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', studio_path(current_user) %>
