<!-- <p id="notice"><%#= notice %></p> -->


<div class="page-header">
  <h1>All Profiles</h1>
</div>


<% @profiles.each do |profile| %>
<% @user = profile.user %>
<div>
  <strong><%= profile.first_name %></strong>
  <p>Name: <%= profile.last_name %></p>
  <p><%= profile.about_me %></p>

  <%#= link_to time_ago_in_words(profile.created_at) + " ago", profile_path(@user) %> 

  <span>
    <%= link_to "Show", profile %>
  </span> 
 <br>
 <br>



  <!-- <p><%#= session.user %> -->
</div>
<% end %>

    <%= link_to "New Profile", new_profile_path %> | 




<br>


