

<div class='container-fluid'>
  <!-- <div class="row"> -->
  <div class='row'>
    <div class="col-md-12"
    <h2><%= @user.profile.profile_name %></h2>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-12">
      <%= link_to image_tag(@profile.profile_image.medium.url), @profile.profile_image.large.url if @profile.profile_image?%> 
    </div>
  </div>

  <div class="row"></div>
    <div class="col-md-6">
      <!-- <%#= link_to image_tag("/icons/soundcloud_icon.png"), @profile.soundcloud_url.to_s %>  -->
      <%= link_to image_tag("/images/icons/soundcloud_icon.png", class: "icon"), image_path("http://#{@profile.soundcloud_url}"), class: "colorbox" %>

      <%= link_to image_tag("/images/icons/youtube_icon.png", class: "icon"), image_path("http://#{@profile.youtube_url}"), class: "colorbox" %>

        <%#= link_to "Soundcloud", "http://www.soundcloud.com", :target => "_blank" %>
    </div>
  </div>
</div>

<div class='col-md-12' style="padding-top:40px;">


  <%# if @user.gender == "Male" %>
  <%#= image_tag("/icons/male.png") %>
  <%# else %>
  <%#= image_tag("/icons/female.png") %>
  <%# end %>

  <div class="col-md-9" style="text-align:left; padding-top:15px;">
    <p>First Name: <%= @profile.first_name %></p>
    <p>Last name: <%= @profile.last_name %></p>
    <p>Profile Name: <%= @profile.profile_name %></p>  
    <p>Primary skill: <%= @profile.primary_discipline %></p>

    <p>Role on site: <%= @profile.role %></p>  
    <p>Musical Infleunces: <%= @profile.infleunces %></p>
    <p>Genres I like: <%= @profile.genres %></p>
    <p>Youtube channel: <%= @profile.youtube_url %></p>
    <p>Soundcloud Stream: <%= @profile.soundcloud_url %></p>
         <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), method: 'post'%>



  </div>
  <div class="col-md-12" style="text-align:left;" >
    <p>About Me:</p>
    <p><%= @profile.about_me %></p>
  </div>
  <% if current_user == @user %>
  <div class="col-md-12" style="text-align:right;" >
    <%= link_to("Edit My Profile", edit_profile_path(@user), class: "btn btn-primary") %>
            <li><%= link_to "Cancel my Account", cancel_user_registration_path %> </li>
    
  </div>
  <% end %>


</div>


<%#= @user.toggle_follow!(@user) %>

<% unless current_user == @user %>
<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post, class: "btn btn-primary" %>
<% end %>

</div>
</div>



<%# if current_user == @user %>
<!-- <div class="col-md-12"> -->
<!-- <h4>Friend Requests</h4> -->
<%# if @user.requested_friendships == true %>

<%# @user.requested_friendships.each do |request| %>
<!-- <div class="col-md-12"> -->

<%#= image_tag(request.profile_image.thumb.url) if request.profile_image %>
<%#= request.name %> <!-- would like to be friends -->
<%#= link_to "Accept", friendship_path(:id => request), :method => "put", class: "btn btn-primary" %> 
<%#= link_to "Decline", friendship_path(:id => request), :method => :delete, class: "btn btn-danger"  %>

<!-- </div> -->
<%# end %>

<%# else %>
<!-- <p>You have no pending friend requests</p> -->
<%# end %>
<!-- </div> -->
<%# end %>


<div class="container">
  <div class="col-md-12">
    <h2>Friends</h2>
  </div>

  <%# if @user.friends == true %>
  <% @user.friends.each do |friend| %>
  <div class="col-md-2">


    <%#= link_to image_tag(friend.profile_image.thumb.url), friend.profile_image.original.url if friend.profile_image?%> 
  </div>
  <%= friend.email %> 
  <%#= friend.send_message %> 

  <%# if current_user == @user %>
  <%#= link_to "Remove", friendship_path(:id => friend), :method => :delete, class: "btn btn-danger" %>
  <%# end %>

  <% end %>
  <%# else %>
  <!-- <p>user has not added any friends</p> -->
  <%# end %>
</div>



<!-- <div class="row"> -->
<div class="col-md-12">

  <h2>User Timeline</h2>

  <%# if @user.photos == true %>
  <% @user.statuses.each do |status| %>

  <div class="col-md-3 user_timeline">

    <%= status.content %>

    <%# if photo.album_id == @album.id %>
    <%#= recipe.name %>
    <%#= link_to(photo.title, photo_path(photo)) %>
    <%#= link_to image_tag(photo.photo_image.medium.url), photo.photo_image.original.url if photo.photo_image? == true %>  
  </div> 
  <% end %>
  <%# else %>
  <!-- <p>User has not uploaded any photos</p> -->
  <%# end %>
</div>
<!-- </div> -->

<%# render current_user.mailbox.inbox %>

</div>
<div class="container">
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
      <li><%= link_to "Hello, #{current_user.email}", "#" %></li>
      <li><%#= link_to "Inbox", mailbox_inbox_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li class="active"><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>


</div>
















<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Profile Name:</strong>
  <%= @profile.profile_name %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @profile.user_id %>
</p>
-->




<%#= link_to 'Profile', profile_path(current_user) %> |
<%= link_to 'Back', profile_path %>
